################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IdentityServer.Docs.Tutorial.API/.vs/IdentityServer.Docs.Tutorial.API
obj
bin
/IdentityServer.Docs.Tutorial.API/IdentityServer.Docs.Tutorial.API.csproj.user
bin
obj
/IdentityServer.Docs.Tutorial/IdentityServer.Docs.Tutorial/IdentityServer.Docs.Tutorial.csproj.user
/IdentityServer.Docs.Tutorial/IdentityServer.Docs.Tutorial/.vs/IdentityServer.Docs.Tutorial/config
obj
bin
/IdentityServer.Docs.Tutorial/IdentityServer.Docs.Tutorial/.vs/IdentityServer.Docs.Tutorial/DesignTimeBuild
.vs
.vs
