################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IdentityServer.Docs.Tutorial.API/.vs/IdentityServer.Docs.Tutorial.API
