################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IdentityServer.Docs.Tutorial.API/.vs/IdentityServer.Docs.Tutorial.API
obj
bin
/IdentityServer.Docs.Tutorial.API/IdentityServer.Docs.Tutorial.API.csproj.user
